Source: node-performance-now
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , chai <!nocheck>
 , coffeescript
 , mocha <!nocheck>
 , node-bluebird <!nocheck>
 , node-lodash-packages <!nocheck>
 , node-immutable <!nocheck>
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/js-team/node-performance-now
Vcs-Git: https://salsa.debian.org/js-team/node-performance-now.git
Homepage: https://github.com/braveg1rl/performance-now
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-performance-now
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: Implements performance.now (based on process.hrtime)
 Modern browsers have a `window.performance` object with - among others - a
 `now` method which gives time in milliseconds, but with sub-millisecond
 precision. This module offers the same function based on the Node.js native
 `process.hrtime` function.
 .
 Using `process.hrtime` means that the reported time will be monotonically
 increasing, and not subject to clock-drift.
 .
 This library is a dependency of request, the simplest way possible to make
 http calls.
 .
 Node.js is an event-based server-side JavaScript engine.
